/* 
    This CSS file contains styling for elements and classes on the play.html
    page.
*/

.modal {
    display: none;
    height: 300px;
    padding: 100px 0px;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: gray;
    margin: 100px auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.room {
    border: 3px solid black;
    width: 80%;
    height: 100px;
    padding: 10px 20px;
}

.player {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
    border-bottom: 3px solid black
}

.video {
    border: 3px solid black;
    min-height: 150px;
    width: 80%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#votestable {
    display: flex; 
    width: 100%; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.vote {
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap; 
    align-items: center;
    font-size: .75em;
    width: 50%;
}

.vote button {
    border-radius: 10%;
    padding: 10px; 
    font-size: 1.25em;
}


/* Prompts Menu IDs */

#videostable button {
    border-radius: 10%;
    padding: 10px; 
    font-size: 1em;
}

.lockIn {
    border-radius: 10%;
    padding: 10px; 
    font-size: 1em;
}

.video button {
    border-radius: 10%; 
    padding: 10px; 
    font-size: .75em;
}

#resultsmessage {
    font-size: 1.5em;
}

#resultstable div {
    width: 50%;
    height: 300px;
    overflow-y: auto;
    text-align: center;
}